{% set navbar = false %}
{% extends 'base.html.twig' %}
{% form_theme registrationForm 'tailwind_2_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="bg-black flex items-center r px-4 py-6  ">
        <div class="w-full max-w-md space-y-8">
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}

            <div class="flex flex-col gap-y-10">
                {{ form_row(registrationForm.email, {
                    label: 'Quel est ton adresse mail ?',
                    label_attr: { class: 'text-white text-lg sm:text-xl font-semibold' },
                    row_attr: { class: 'flex flex-col gap-y-3' },
                    attr: {
                        class: 'w-full text-white bg-transparent border-b border-gray-500 placeholder-[#8D8484] placeholder:text-lg ',
                        placeholder: 'mail@mail.com'
                    }
                }) }}

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Entre un mot de passe',
                    label_attr: { class: 'text-white text-lg sm:text-xl font-semibold' },
                    row_attr: { class: 'flex flex-col gap-y-3' },
                    attr: {
                        class: 'w-full text-white bg-transparent border-b border-gray-500 placeholder-[#8D8484] placeholder:text-lg ',
                        placeholder: 'Mot de passe'
                    }
                }) }}

                <div class="flex flex-col items-center gap-y-8">
                    <div class="flex items-center gap-x-3">
                        {{ form_widget(registrationForm.agreeTerms, { attr: { class: 'mr-2' } }) }}
                        <label for="registration_form_agreeTerms" class="text-red-500 text-sm">
                            J’accepte les conditions générales
                        </label>
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>


                    <button type="submit" class="bg-white text-black font-semibold py-3 px-6 rounded-xl text-sm hover:bg-gray-200 transition">
                        Créer mon compte
                    </button>
                </div>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
