{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="w-full flex items-center justify-center mt-3">
    <table class="w-2/3 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <thead>
        <tr>
            <th class="px-6 py-3">ID</th>
            <th class="px-6 py-3">EMAIL</th>
            <th class="px-6 py-3">ROLE</th>
            <th class="px-6 py-3">ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th class="px-6 py-3">{{ user.id }}</th>
                <td class="px-6 py-3">{{ user.email }}</td>
                <td class="px-6 py-3">
                    {% for role in user.roles %}
                            {{ role }}
                    {% endfor %}
                </td>

                <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <a href="{{ path('app_demote', {id : user.id}) }}" class="btn btn-danger">DEMOTE</a>
                    {% else %}
                        <a href="{{ path('app_promote', {id : user.id}) }}" class="btn btn-success">PROMOTE</a>
                    {% endif %}
                        </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

    <div style="height: 300px; background-color: white">
        {{ render_chart(chart) }}
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

{% endblock %}
