{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="w-full flex items-center justify-center mt-3">
    <table class="w-2/3 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <thead>
        <tr>
            <th class="px-6 py-3">ID</th>
            <th class="px-6 py-3">EMAIL</th>
            <th class="px-6 py-3">ROLE</th>
            <th class="px-6 py-3">ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th class="px-6 py-3">{{ user.id }}</th>
                <td class="px-6 py-3">{{ user.email }}</td>
                <td class="px-6 py-3">
                    {% for role in user.roles %}
                            {{ role }}
                    {% endfor %}
                </td>

                <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <a href="{{ path('app_demote', {id : user.id}) }}" class="btn btn-danger">DEMOTE</a>
                    {% else %}
                        <a href="{{ path('app_promote', {id : user.id}) }}" class="btn btn-success">PROMOTE</a>
                    {% endif %}
                        </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

    <div class="bg-white w-full">
        {{ render_chart(chart, {'id': 'myChart', 'class': 'my-chart'}) }}
    </div>
    <style>
        canvas.my-chart {
            width: 100%;
            height: 400px;  /* Ajuste la hauteur en fonction de ton besoin */
        }
    </style>

{% endblock %}
