{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <div class="flex flex-col h-screen">

        <!-- Zone messages -->
        <div class="flex-1 overflow-y-auto space-y-6 text-white p-6 max-w-3xl mx-auto pb-24">
            {% for message in chat.messages %}
                <div class="flex items-center justify-{{ message.author.ofUser == app.user.profile.ofUser ? 'end' : 'start' }} mb-4">
                    <div class="bg-[#8D8484] border text-white rounded-lg p-4 max-w-xs w-auto">
                        <p class="text-sm">
                            <strong class="{{ message.author.ofUser == app.user.profile.ofUser ? 'text-right' : 'text-left' }} text-white">
                                {{ message.author.ofUser.email }}
                            </strong>
                            : {{ message.content }}
                        </p>
                    </div>
                </div>
            {% else %}
                <p class="text-center text-[#8D8484]">Aucun message pour le moment.</p>
            {% endfor %}
        </div>


        <div class="fixed bottom-0 left-0 right-0 p-4 mb-5 bg-[#8D8484] border-t border-[#7a7171]">
            {{ form_start(form) }}
            <div class="flex items-center gap-2">
                {{ form_widget(form.content, {
                    'attr': {
                        'placeholder': 'Entre ton message...',
                        'class': 'flex-1 bg-transparent rounded px-3 py-2 text-sm placeholder-[#8D8484]'
                    }
                }) }}
                <button type="submit" class="text-white">
                    {{ ux_icon('raphael:arrowalt', { class: 'w-[15px] h-[15px]' }) }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
