{% extends 'base.html.twig' %}

{% block title %}Hello ! {{ app.user.profile.displayName }}{% endblock %}
{% block javascripts %}
    <script type="module">
        import '{{ asset('share.js') }}';
    </script>
{% endblock %}
{% block body %}
    <div class="">
        {% for post in posts %}
            <div class="my-6 bg-black text-white p-4 rounded-lg">
                <div class="flex items-center mb-2">

                    {% if post.author.image %}
                        <img src="{{ vich_uploader_asset(post.author.image) }}" alt="Profil" class="w-8 h-8 rounded-full mr-2">
                        {% else %}
                            <img src="{{ asset('images/avatar.jpg') }}" alt="Profil" class="w-8 h-8 rounded-full mr-2">
                    {% endif %}
                    <div class="text-sm">
                        <strong>{{ post.author.displayName }}</strong><br>
                        <p>{{ post.createAt|date('d/m/Y H:i') }}</p>


                    </div>
                </div>

                <div class="relative">
                    <img src="{{ vich_uploader_asset(post.image, 'imageFile') | imagine_filter('bereal') }}"
                         style="border-radius: 15px;" alt="" class="w-full mb-2">
                    {% if app.user.profile.ofUser == post.author.ofUser %}
                        <a href="{{ path('app_post_delete', {id: post.id}) }}" class="absolute bottom-2 right-2 border border-black p-2 border-1 bg-white text-black rounded-full">
                            {{ ux_icon('mynaui:trash', { class: 'w-[15px] h-[15px]'  }) }}
                        </a>
                    {% endif %}

                </div>


                <div class="flex justify-between">
                    {% include 'reaction/reactions.html.twig' %}
                    {% if app.user.profile.ofUser == post.author.ofUser %}
                    <button
                            class="share-button rounded-full "
                            data-title="Post de {{ post.author.displayName }}"
                            data-url="{{ path('app_post_show', {id : post.id}) }}"
                    >
                        {{ ux_icon('lucide:share', { class: 'w-[15px] h-[15px] text-white' }) }}
                    </button>
                    {% endif %}
                </div>
                <p>{{ post.content }}</p>
                <a href="{{ path('app_post_show', {id : post.id}) }}" class="bg-transparent w-full py-2 border-none text-[#8D8484] mt-2">
                    Ajoute un commentaire
                </a>

            </div>






        {% endfor %}
    </div>


{% endblock %}
