{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col">
            <div class="my-6 bg-black text-white p-4 rounded-lg">
                <div class="flex items-center mb-2">
                    <div>
                        <a href="{{ path('app_posts') }}">{{ ux_icon('fluent:ios-arrow-24-filled', { class: 'w-[20px] h-[20px]' }) }}</a>
                    </div>
                    {% if post.author.image %}
                        <img src="{{ vich_uploader_asset(post.author.image) }}" alt="Profil" class="w-8 h-8 rounded-full mr-2">
                    {% endif %}
                    <div class="text-sm">
                        <strong>{{ post.author.displayName }}</strong><br>
                        <p>{{ post.createAt|date('d/m/Y H:i') }}</p>
                    </div>
                </div>

                <div class="relative">
                    <img src="{{ vich_uploader_asset(post.image, 'imageFile') | imagine_filter('bereal') }}"
                         style="border-radius: 15px;" alt="" class="w-full mb-2">
                    {% if app.user.profile.ofUser == post.author %}
                        <span class="absolute bottom-2 right-2  p-2 border-1 rounded-full " >{{ ux_icon('mynaui:trash', { class: 'w-[15px] h-[15px]' }) }}</span>

                    {% endif %}
                </div>


                <div class="flex space-x-4 items-center">
                    <button class="text-yellow-500">👍</button>
                    <button class="text-white">🤍</button>
                </div>

                <div class="flex flex-col">
                    {{ form_start(commentForm, {
                        "action": path('app_comment_create', {id: post.id})
                    }) }}

                    <div class="flex w-full items-center justify-between gap-2">
                        {{ form_widget(commentForm.content, {
                            'attr': {
                                'placeholder': 'Écris ton commentaire...',
                                'class': 'flex-1 bg-transparent border-none py-2 text-sm'
                            }
                        }) }}

                        <button type="submit" class="border-none text-[#8D8484] flex-shrink-0">
                            {{ ux_icon('raphael:arrowalt', { class: 'text-white w-[15px] h-[15px]' }) }}
                        </button>
                    </div>

                    {{ form_end(commentForm) }}


                </div>




            </div>
        <div class="flex flex-col">
            <h2 class="text-white font-semibold">Commentaires</h2>
            {% for comment in post.comments %}
                <div class="flex justify-between items-center border-top my-2 p-2 ">
                    <div class="flex items-center ">
                        {% if post.author.image %}
                            <img src="{{ vich_uploader_asset(app.user.profile.image) }}" alt="Profil" class="w-8 h-8 rounded-full mr-2">
                        {% endif %}
                        <div class="flex flex-col p-0">
                            <p class="text-white text-xs">{{ comment.author.displayname }}</p>
                            <p class="text-white">{{ comment.content }}</p>

                        </div>
                    </div>
                    {% if app.user.profile.id == comment.author.id %}
                        <div class="flex items-center justify-between gap-2px">
                            <a href="{{ path('app_comment_edit', {id : comment.id}) }}">{{ ux_icon('ic:baseline-edit', { class: 'w-[15px] h-[15px] text-white'}) }}</a>
                            <a href="{{ path('app_comment_delete', {id : comment.id}) }}">{{ ux_icon('mynaui:trash', { class: 'w-[15px] h-[15px] text-white' }) }}</a>
                        </div>

                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block title %}

{% endblock %}

